body {
	min-width: 800px;
	font-family: "Helvetica Light", sans-serif;
	background-color: #332C28;
}

.pengu {
	width: 30%;
	height: auto;
	margin-bottom: 20px;
	margin-top: 60px;
}

h1 {
	color: #FFF;
	font-size: 60px;
}

h2 {
	color: #FFF;
	display: inline;
	font-size: 25px;
}

span {
	color: #CC5D1F;
	font-size: 25px
}


.penguContainer{
	margin-bottom: 10px;
	margin-top: 40px;
}

#flashContent{
	width:300px;
	height:300px;
	display: block;
	margin: 0px;
}

a {
	color: #FFF;
}