html
	head
		link(href='css/main.css', rel='stylesheet', type='text/css')
	body
		center
			img(src='img/penguuu.gif', id='pengu')
			h1 J A R E D &nbsp; B E N N E T T
			h2 CODER
			span &nbsp;&nbsp;&#8226;&nbsp;
			h2 STUDENT
			span &nbsp;&nbsp;&#8226;&nbsp;
			h2 FRIENDLY DRUNK